.html,
body {
    margin: 0;
    padding: 0;
}


.nav-bar {
    width: 100%;
    height: auto;
    background-color: #754A00;
        padding:  20px;


    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    position: relative;
}

.nav-bar a {
    color: white;
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
}

#icon {
    display: none;
    position: absolute;
    right: 80px;
}



@media screen and (max-width: 600px) {

    .nav-bar {

        
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        padding: 10px 20px;



    }

    .nav-bar a {
        display: block;
        max-height: 0;
        
        opacity: 0;
        overflow: hidden;
        transform: translateY(-10px);
        transition: all 0.5s ease;
        margin-left: 0;
        padding: 10px 0;
       
    }


    #icon {
        display: block;
        color: white;
    }


    .nav-bar.active a {
        max-height: 50px;
        opacity: 1;
        transform: translateY(0);


    }

    #icon {
        top: 30px;
}
}